In [1]:
import pandas as pd
import numpy as np

In [2]:
sqrls = pd.read_csv('dataframes/bfsqrls.csv')

In [3]:
sqrls = sqrls.drop(columns='Unnamed: 0')

In [4]:
indifferent = sqrls[['indifferent', 'nearwater', 'neargrass']]
grouped = indifferent.groupby(indifferent['indifferent']).sum()#/indifferent.query('nearwater == True').shape[0]
grouped

             nearwater  neargrass
indifferent
0                  241        406
1                  296        316

In [14]:
grouped = grouped.divide(grouped.sum(axis=0), axis=1)
grouped

             nearwater  neargrass
indifferent
0              0.44879   0.562327
1              0.55121   0.437673

In [13]:
observed_stat = abs(grouped.loc[1][1] - grouped.loc[1][0])
observed_stat

0.11353729811149454